{% extends 'base.html' %}

{% block content %}
    <main>
        <div>
            <h1>{{ list_of_task_objects.name }}</h1>
            <p>{{ list_of_task_objects.description }}</p>
            <h2>Tasks</h2>
            <p>
                <a href="{% url 'create_task' %}">Create a new task</a>
            </p>
            <table>
                {% if list_of_task_objects.tasks.all|length == 0 %}
                    <p>This project has no tasks</p>
                {% else %}
                    <thead>
                        <th>Name</th>
                        <th>Assignee</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </thead>
                    <tbody>
                        {% for task in list_of_task_objects.tasks.all %}
                            <tr>
                                <td>{{ task }}</td>
                                <td>{{ task.assignee }}</td>
                                <td>{{ task.start_date }}</td>
                                <td>{{ task.due_date }}</td>
                                <td>{{ task.is_completed|yesno }}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock content %}
